html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*******Fonts******/
@font-face {
    font-family: 'Font Awesome 5 Free';
    src: url('FontAwesome5FreeRegular.eot');
    src: url('FontAwesome5FreeRegular.eot?#iefix') format('embedded-opentype'),
        url('FontAwesome5FreeRegular.woff2') format('woff2'),
        url('FontAwesome5FreeRegular.woff') format('woff'),
        url('FontAwesome5FreeRegular.ttf') format('truetype'),
        url('FontAwesome5FreeRegular.svg#FontAwesome5FreeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/******main settings******/
body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto Slab';
	font-size: 14px;
	color: #555;
}
.wrap {
	padding: 40px 20px;
	min-width: 1000px;
	max-width: 1140px;
	margin: 0 auto;
}
.section-title {
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-size: 20px;
	position: relative;
	margin-bottom: 60px;
}
.section-title:after {
	display: block;
	position: absolute;
	content: '';
	background-color: #555;
	height: 2px;
	width: 50px;
	bottom: -30px;
	left: 50%;
	transform: translate(-50%);
}
.section-subtitle {
	font-family: 'Roboto Slab';
	font-size: 16px;
	color: #555;
	margin-bottom: 70px;
}
/******HOME********/
.home {
	background: url(../img/home-bg.jpg)center/cover;
	text-align: center;
}
.home-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.logo {
	color: #fff;
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 700;

}
.header-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 264px;
}
.header-menu-item {
	display: inline-block;
	margin-right: 30px;
}
.header-menu-item:hover {
	text-decoration: underline;
	color: #fff;
}
.header-menu-item:last-child{
	margin-right: 0;
}
.header-menu-link {
	font-family: 'Montserrat';
	color: #fff;
	text-decoration: none;
}
.home-title {
	text-align: center;
	font-family: 'Montserrat';
	font-size: 58px;
	color:#fff;
	font-weight: 400;
	margin-bottom: 30px;
}
.home-subtitle {
	text-align: center;
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
	margin-bottom: 70px;
}
.home-btn {
	background-color: transparent;
	padding: 20px 35px;
	font-family: 'Montserrat';
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 2px;
	margin-bottom: 260px;
}

/****Services***/
.services {
	text-align: center;
	padding: 100px 0;
}
.services-cart-area {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.services-cart:nth-child(2){
	margin: 0 45px;
}
.services-cart-logo {
	font-size: 40px;
	width: 90px;
	height: 90px;
	line-height: 90px;
	color: #c0301c;
	background-color: transparent;
	border: 2px solid #dddddd;
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 29px;
}
.services-cart-logo:hover {
	background-color: #c0301c;
	color: #fff;
}
.services-cart-title {
	font-family: 'Montserrat';
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.services-cart-text {
	font-size: 14px;
	line-height: 24px;
	max-width: 435px;
	
}
		/*****About Us********/

.about {
	text-align: center;
	background-color: #f8f8f8;
	padding: 100px 0;
}
.about-text-area {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 71px;
	text-align: left;
}
.about-text-area-content {
	max-width: 555px;
	line-height: 24px;
}
/*******Slider*****/

.slider {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.slider-item-logo {
	position: relative;
	margin-bottom: 20px;
}
.slider-item-logo-wrap {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	background-color: rgb(85, 85, 85,.5);
	visibility: hidden;
}
.slider-item-logo:hover>.slider-item-logo-wrap {
	visibility: visible;
}

.slider-link-block {
	position: absolute;
	bottom: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	transform: translate(-50%);
	margin-left: 50%;
	visibility: hidden;
}
.slider-item-logo:hover>.slider-link-block {
	visibility: visible;
}

.slider-link  {
	padding: 6px 9px;
	color: #fff;
}
.slider-link:hover {
	background-color: #c0301c;
}
.slider-item-username {
	font-family: 'Montserrat';
	text-transform: uppercase;
	margin-bottom: 15px;
}
.slider-item-userjob {
	font-size: 13px;
	text-transform: capitalize;
}
.slider-btn {
	color: #ddd;
	font-size: 20px;
	padding: 12px 13px;
	background-color: rgba(85,85,85,.2);
	border: none;
	position: absolute;
	cursor: pointer;
}
.slider-btn:hover {
	background-color: #c0301c;
}
.prev-btn {
	left: 0;
	top: 35%;
}
.next-btn {
	right: 0;
	top: 35%;
}

/*******Works*******/
.works {
	padding: 100px 0;
	text-align: center;
}
.works-nav {
	margin-bottom: 70px;
}
.works-nav-item {
	display: inline-block;
	margin-right: 20px;
}
.works-nav-link {
	color: #555;
	text-decoration: none;
	font-size: 16px;
}
.works-nav-link:hover {
	color: #c0301c;
}
.achive-area {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	max-width: 1140px;
	margin: 0 auto;
}
.achive-cart {
	margin-right: 30px;
	margin-bottom: 30px;
	height: 320px;
	width: 360px;
	position: relative;
}
.achive-cart:nth-child(3),
.achive-cart:nth-child(6),
.achive-cart:nth-child(9){
	margin-right: 0;
}
.achive-wrap {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(192, 48, 28, 0.7);;
}
.achive-content {
	visibility: hidden;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%);
}
.achive-content-title {
	font-family: 'Montserrat';
	font-size: 18px;
	color: #fff;
	margin-bottom: 16px;
}
.achive-content-brandings {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 40px;
}
.achive-content-btn {
	padding: 15px 39px 13px 20px;
	background-color: transparent;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.arow-btn {
	margin-left: 12px;
}

.achive-content-btn:hover {
	background-color: #fff;
	color: #c0301c;
}
.achive-cart:hover .achive-wrap,
.achive-cart:hover .achive-content {
	visibility: visible;
}

