html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*******Fonts******/
@font-face {
    font-family: 'Font Awesome 5 Free';
    src: url('FontAwesome5FreeRegular.eot');
    src: url('FontAwesome5FreeRegular.eot?#iefix') format('embedded-opentype'),
        url('FontAwesome5FreeRegular.woff2') format('woff2'),
        url('FontAwesome5FreeRegular.woff') format('woff'),
        url('FontAwesome5FreeRegular.ttf') format('truetype'),
        url('FontAwesome5FreeRegular.svg#FontAwesome5FreeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/******main settings******/
body {
	min-width: 1180px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto Slab';
	font-size: 14px;
	color: #555;
}
.wrap {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0 20px;
	margin: 0 auto;
	width: 1180px;
}
.section-title {
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-size: 20px;
	position: relative;
	margin-bottom: 60px;
}
.section-title:after {
	display: block;
	position: absolute;
	content: '';
	background-color: #555;
	height: 2px;
	width: 50px;
	bottom: -30px;
	left: 50%;
	transform: translate(-50%);
}
.section-subtitle {
	font-family: 'Roboto Slab';
	font-size: 16px;
	color: #555;
	margin-bottom: 70px;
}
.text-with-note {
	font-size: 12px;
}
.text-with-note:before {
	content: '\274B';
	display: inline-block;
	margin-right: 5px;
	font-size: 8px;
	vertical-align: super;
}
/******HOME********/
.home {
	padding: 40px 0;
	background: url(../img/home-bg.jpg)center/cover;
	text-align: center;
}
.home-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.logo {
	color: #fff;
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 700;

}
.header-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 264px;
}
.header-menu-item {
	display: inline-block;
	margin-right: 30px;
}
.header-menu-item:hover {
	text-decoration: underline;
	color: #fff;
}
.header-menu-item:last-child{
	margin-right: 0;
}
.header-menu-link {
	font-family: 'Montserrat';
	color: #fff;
	text-decoration: none;
}
.home-title {
	text-align: center;
	font-family: 'Montserrat';
	font-size: 48px;
	color:#fff;
	font-weight: 400;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.home-subtitle {
	text-align: center;
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
	margin-bottom: 70px;
}
.home-btn {
	background-color: transparent;
	padding: 20px 35px;
	font-family: 'Montserrat';
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 2px;
	margin-bottom: 260px;
}
.home-btn:hover {
	color: #c0301c;
	background-color: #fff;
	transition: background .3s;
}

/****Services***/
.services {
	text-align: center;
	padding: 100px 0;
}
.services-cart-area {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.services-cart:nth-child(2){
	margin: 0 45px;
}
.services-cart-logo {
	font-size: 40px;
	width: 90px;
	height: 90px;
	line-height: 90px;
	color: #c0301c;
	background-color: transparent;
	border: 2px solid #dddddd;
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 29px;
}
.services-cart-logo:hover {
	background-color: #c0301c;
	color: #fff;
}
.services-cart-title {
	font-family: 'Montserrat';
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.services-cart-text {
	font-size: 14px;
	line-height: 24px;
	max-width: 435px;
	
}
		/*****About Us********/

.about {
	text-align: center;
	background-color: #f8f8f8;
	padding: 100px 0;
	margin: 0 auto;
}
.about-text-area {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 71px;
	text-align: left;
}
.about-text-area-content {
	max-width: 555px;
	line-height: 24px;
}
/*******Slider*****/

.slider {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.slider-item-logo {
	position: relative;
	margin-bottom: 20px;
}
.slider-item-logo-wrap {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	background-color: rgb(85, 85, 85,.5);
	visibility: hidden;
}
.slider-item-logo:hover>.slider-item-logo-wrap {
	visibility: visible;
}

.slider-link-block {
	position: absolute;
	bottom: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	transform: translate(-50%);
	margin-left: 50%;
	visibility: hidden;
}
.slider-item-logo:hover>.slider-link-block {
	visibility: visible;
}

.slider-link  {
	padding: 6px 9px;
	color: #fff;
}
.slider-link:hover {
	background-color: #c0301c;
}
.slider-item-username {
	font-family: 'Montserrat';
	text-transform: uppercase;
	margin-bottom: 15px;
}
.slider-item-userjob {
	font-size: 13px;
	text-transform: capitalize;
}
.slider-btn {
	color: #ddd;
	font-size: 20px;
	padding: 12px 13px;
	background-color: rgba(85,85,85,.2);
	border: none;
	position: absolute;
	cursor: pointer;
}
.slider-btn:hover {
	background-color: #c0301c;
}
.prev-btn {
	left: 0;
	top: 35%;
}
.next-btn {
	right: 0;
	top: 35%;
}

/*******Works*******/
.works {
	padding: 100px 0;
	text-align: center;
}
.works-nav {
	margin-bottom: 70px;
}
.works-nav-item {
	display: inline-block;
	margin-right: 20px;
}
.works-nav-link {
	color: #555;
	text-decoration: none;
	font-size: 16px;
}
.works-nav-link:hover {
	color: #c0301c;
}
.achive-area {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width: 1140px;
	flex-wrap: wrap;
	margin: 0 auto;
}
.achive-cart {
	margin-right: 30px;
	margin-bottom: 30px;
	max-height: 320px;
	max-width: 360px;
	position: relative;
}
.achive-cart:nth-child(3),
.achive-cart:nth-child(6),
.achive-cart:nth-child(9){
	margin-right: 0;
}
.achive-wrap {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(192, 48, 28, 0.7);;
}
.achive-content {
	visibility: hidden;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%);
}
.achive-content-title {
	font-family: 'Montserrat';
	font-size: 18px;
	color: #fff;
	margin-bottom: 16px;
}
.achive-content-brandings {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 40px;
}
.achive-content-btn {
	padding: 15px 20px 13px 20px;
	background-color: transparent;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.arow-btn {
	margin-left: 12px;
}

.achive-content-btn:hover {
	background-color: #fff;
	color: #c0301c;
}
.achive-cart:hover .achive-wrap,
.achive-cart:hover .achive-content {
	visibility: visible;
}

/******Parallax****/

.parallax {
	background: url(../img/parallax-bg.png) center/cover;
	background-attachment: fixed;

}
.parallax-content {
	padding: 100px 0;
	text-align: center;
	background-color: rgba(192, 48, 28, 0.6);
	transform: translateZ(0);
}
.parallax-content-title {
	font-size: 30px;
	color: #fff;
	margin-bottom:20px; 
}
.parallax-content-subtitle {
	font-size: 30px;
	display: block;
	color: #fff;
	margin-bottom: 77px;
}
.parallax-content-btn {
	padding: 18px 27px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.parallax-content-btn:hover {
	background-color: #fff;
	color: #c0301c;
	transition: background .3s;
}

		/****Blog*****/

.blog {
	padding: 100px 0;
	text-align: center;
}
.blog-cart {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
}
.blog-cart:nth-child(3){
	padding-bottom: 40px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
}
.blog-cart-content-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	margin-bottom: 25px;
}
.blog-cart-img {
	margin-right: 40px;
}
.blog-cart-content {
	text-align: left;
}
.blog-cart-content-dateblock {
	text-align: center;
	display: inline-block;
	padding: 19px 22px;
	border: 2px solid #555;
	margin-right: 30px;
}
.blog-cart-content-dateblock-date {
	display: block;
	font-family: 'Montserrat';
	font-size: 24px;
	color: #777;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.blog-cart-content-dateblock-month {
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 700;
	color: #777;
	text-transform: uppercase;
	letter-spacing:1px;
	display: block;
}
.blog-cart-content-autorblock {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.blog-cart-content-autorblock-link {
	padding: 10px 0;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 700;
	color: #555;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 20px;	
}
.blog-cart-content-autorblock-link:hover {
	color: #c0301c;
}

.blog-cart-content-autorblock-autor {
	font-size: 13px;
	color: #777;
	font-style: italic;
}
.autor-name:hover,
.autor-departament:hover {
	color: #c0301c;
	cursor: pointer;
}
.blog-cart-content-text {
	color: #555;
	line-height: 24px;
	margin-bottom: 35px;
}
.blog-cart-content-link {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	color: #777;
}
.blog-cart-content-link:hover {
	color: #c0301c;
}

	/****Clients********/
.clients {
		background-color: #f8f8f8;
		padding: 100px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;	
}
.clients-image-block {
	display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 85px;
}
.clients-image-block-item {
	margin-right: 60px;
}
.clients-image-block-item:last-child{
	margin-right: 0;
}
.clients-slider {
	max-width: 765px;
	margin: 0 auto;
	text-align: center;
}
.clients-slider-content {
	font-size: 18px;
	line-height: 30px;
	font-style: italic;
	margin-bottom: 30px;
}
.client-slider-autor {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 40px;
}
.clients-slider-control-btn {
	width: 13px;
	height: 13px;
	display: inline-block;
	background-color: #ddd;
	border-radius: 50%;
	outline: none;
	border: none;
	margin-right: 7px;
}
.clients-slider-control-btn:hover {
	background-color: #c0301c;
}

/*****Contacts*****/
.contacts {
	padding: 100px 0;
	text-align: center;
}
.contacts-area {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.contacts-group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	flex:4;
	
}
.contacts-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;				
}
.block-logo {
	margin-right: 14px;
}
.block-content {
	text-align: left;
}
.block-content-title {
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-weight: 700;
	margin-bottom: 20px;
}
.block-content-link {
	display: block;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Roboto Slab';
	color: #555;
	margin-bottom: 5px;
}
.block-content-link:hover {
	color: #c0301c;
}
.phone-block .block-content-link:nth-child(2),
.phone-block .block-content-link:nth-child(3){
	display: inline-block;
	
}
.contacts-form {
	max-width: 730px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	flex: 8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contacts-form-input {
	margin: 0 30px 20px 0;
	padding: 17px;
	width: 350px;
	border: 1px solid #555;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contacts-form-input:nth-child(even){
	margin-right: 0;
}
.contacts-form-input:focus {
	border: 1px solid #c0301c;
	outline:none;
}
.contacts-form-input:focus::placeholder {
	color: transparent;
}
.contacts-form-input::placeholder {
	font-family: 'Roboto Slab';
	font-size: 12px;
	color: #555;
	text-transform: uppercase;
	-webkit-opacity:.5;
}
.contacts-form>.contacts-form-textarea {
	width: 730px;
	margin-right: 0;
	height: 105px;
	resize: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 'Roboto Slab';
}
.contacts-form-input.contacts-form-btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: transparent;
	outline: none;
	padding: 17px 36px;
	width: 170px;
	text-transform: uppercase;
	font-family: 'Roboto Slab';
	color: #a9a9a9;
	font-size: 12px;
	margin-bottom: 0;
	margin-right: 40px;
}
.contacts-form-btn:hover {
	cursor: pointer;
	background-color: #c0301c;
	color: #fff;
	transition: background 0.35s;
}
.contacts-form-text {
	line-height: 50px;
}

/********Footer*****/

.footer {
	padding: 100px 0;
	text-align: center;
	background-color: #c0301c;
}
.footer-title:after {
	background-color: #fff;
}
.footer-title-item {
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 12px;
	border: 2px solid;
	border-radius: 50%;
}
.footer-subtitle {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 0;
}
.footer-copyright {
	margin-right: 5px;
}